/* HeroKlaus.module.css */

.parallax {
    grid-template-areas: "stack";
}

.parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}

.parallax > img {
    height: 100%;   
    width: auto;
    object-fit: cover;
    
}

.hero,
.parallax-bg,
.parallax-beam,
.parallax-bauml,
.parallax-baumr,
.parallax-klaus {
    --parallax-speed: 10;
}

.hero{
    --parallax-speed: 30;
}

.hero-title {
    
    --parallax-speed: -100;
    font-size: clamp(3rem, 12vw, 8rem);
}

.hero-subtitle{
 --parallax-speed: -150;
font-size: clamp(2rem, 5vw, 4rem);
}

.parallax-l1 {
    --parallax-speed: 60;
}

.parallax-l2 {
    --parallax-speed: 50;
}
.parallax-l3 {
    --parallax-speed: 40;
}
.parallax-l4 {
    --parallax-speed: 30;
}

.parallax-beam {
    display:none;
    --parallax-speed: 20;
}

.parallax-bauml,
.parallax-baumr {
    --parallax-speed: 20;
}

.parallax-klaus {
    --parallax-speed: 10;
}

.parallax-foreground-front,
.parallax-foreground-back  {
    transform: scaleY(1);
    transform-origin: bottom;
    
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 50px));
    }
}

.hero img {
    display: block;
    max-width: 100%;
}

.hero {
    margin-block-start: max(20vh, 8rem);
}

.heroTitle::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -1;
    scale: 2;
    opacity: 0.5;
    filter: blur(5rem);
    translate: -50%;
}